name: Dependency Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        id: Dependency-Check
        with:
          project: 'SecureGuard'
          path: '.'
          format: 'HTML'
          out: 'reports'

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: dependency-check-report
          path: ${{github.workspace}}/reports
